@use "../variables.scss" as vars;

button {
  width: fit-content;
  padding: 0.5em 1.5em;
  margin: 0 0.5em;
  border-radius: 0.5em;
  font-size: vars.$font-size-16;
  background-color: vars.$dark-color;
  border: none;
  color: white;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }
}

.button--secondary {
  background-color: white;
  color: black;
  border: 1px solid vars.$dark-color; 
}
