@use "../variables.scss" as vars;

.category {
  display: flex;
  gap: 1em;
}

.icon-parent {
  width: 40px;
  height: 40px;

  .icon-background {
    width: 25px;
    height: 25px;
    background-color: #fff;
  }
}

.details {
  display: flex;
  flex-direction: column;

  .category-title {
    font-size: vars.$font-size-12;
  }
}