@use "../variables.scss" as vars;

.separator {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: vars.$separator-color;
  font-size: vars.$font-size-12;
  font-weight: 100;
  margin: 1em;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid vars.$separator-color;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}