@use "../variables.scss" as vars;

.dropdown-container {
  text-align: left;
  position: relative;
  width: 100%;
  font-size: vars.$font-size-16;
}

.dropdown-input {
  padding: vars.$text-padding;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(5px);
  width: 100%;
  border: 1px solid vars.$border-color;
  border-radius: vars.$border-radius;
  overflow: auto;
  max-height: 150px;
  background-color: #fff;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.dropdown-group {
  font-weight: 600;
}

.dropdown-item {
  padding: 5px;
  padding-left: 10px;
  cursor: pointer;

  &:hover {
    background-color: vars.$light-color-secondary;
  }

  &.selected {
    background-color: vars.$medium-color;
    color: #fff;
  }
}

.dropdown-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.dropdown-tag-item {
  background-color: vars.$light-color-secondary;
  padding: 0 0.5em;
  border-radius: vars.$border-radius;
  display: flex;
  align-items: center;
}

.dropdown-tag-close {
  display: flex;
  align-items: center;
}

.search-box {
  padding: 5px;
  background-color: vars.$light-color;

  input {
    width: 100%;
    padding: 5px;
    border: 1px solid vars.$border-color;
    border-radius: vars.$border-radius;
  }
}

.new-list-item {
  color: vars.$dark-color;
  cursor: pointer;
  text-align: center;
  padding: vars.$text-padding;
  border: solid 1px vars.$border-color;
}