@use "../variables.scss" as vars;

.icon {
  color: vars.$dark-color;
  width: vars.$font-size-16;
  height: 1rem;
  width: 1rem;
  padding: 4px;
}

.icon--small {
  width: vars.$font-size-8;
  height: vars.$font-size-8;
}

.icon--large {
  // TODO: use font-size
  height: 1.5rem;
  width: 1.5rem;
 }

 .icon-with-action {
  padding-left: 0.5em;
  cursor: pointer;
}