@use "../variables.scss" as vars;

.category-group {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-bottom: vars.$separator-color solid 1px;
  cursor: pointer;

  &.selected {
    border-right: none;
    cursor: default;
    background-color: vars.$light-color;

    .arrow {
      visibility: hidden;
    }
  }

  &:hover:not(.selected){
    background-color: vars.$light-color-secondary;
  }
}

.details {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  
  span {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
  }
}
