@use "../variables.scss" as vars;

.money-card {
  padding: 1em 0;
  display: flex;
}

.title {
  flex-grow: 1;
  color: vars.$text-color-secondary;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.amount {
  font-size: vars.$font-size-20;
}

.current-amount {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
}

.value {
  display: flex;
}

.edit-icon {
  display: none;
  cursor: pointer;
  color: vars.$text-color-secondary;
  padding-inline: vars.$text-padding;
}

.current-amount:hover .edit-icon {
  display: block;
}

.edit-field {
border-bottom: 1px solid vars.$separator-color;
}