@use "../variables.scss" as vars;
@use "../common.module.scss";

.monthly-expenses {
}

.donut {
  padding: 1em 1em;
  border: vars.$separator-color solid 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.filters {
  display: flex;
  gap: 2em;
  justify-content: flex-end;

  .filter {
    border: solid 1px vars.$separator-color;
    padding-inline: vars.$text-padding;
    border-radius: vars.$border-radius;
    width: 50%;
  }
}
