@use "../variables.scss" as vars;

.monthly-expenses {
  width: 100%;
  background-color: #fff;
  padding: vars.$main-padding;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: center;
  border-radius: vars.$border-radius;
}

.donut {
  padding: 1em 1em;
  border: vars.$border-color solid 1px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.filters {
  display: flex;
  gap: 2em;
  justify-content: flex-end;

  .filter {
    border: solid 1px vars.$border-color;
    padding-inline: vars.$text-padding;
    border-radius: vars.$border-radius;
    width: 50%;
  }
}

.not-found {
  min-height: 200px;
}