.wealth {
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.wealth > .header {
  flex-direction: column;
}

.wealth > .header > span {
  font-size: 1.25rem;
  margin-bottom: 0.5em;
}

.wealth ul {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.wealth li:not(:last-of-type) {
  border-bottom: 1px solid lightgray;
}
