@use "../variables.scss" as vars;
@import "./common.module.scss";

.transactions {
  display: flex;
}

ul {
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: space-between;

  li {
    list-style: none;
    flex: 1;
  }
}

.wealth {
  background-color: #fff;
  padding: 1em;
  border-radius: vars.$border-radius;
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  .header {
    flex-direction: column;

    span {
      font-size: 1.25rem;
      margin-bottom: 0.5em;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0;

    li:not(:last-of-type) {
      border-bottom: 1px solid vars.$separator-color;
    }
  }
}
