@use "../variables.scss" as vars;

.wealth {
  background-color: #fff;
  padding: 1em;
  border-radius: vars.$border-radius;
  display: flex;
  flex-direction: column;
  gap: 0.25em;

  .header {
    flex-direction: column;

    span {
      font-size: 1.25rem;
      margin-bottom: 0.5em;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0;

    li:not(:last-of-type) {
      border-bottom: 1px solid vars.$separator-color;
    }
  }
}
