.category {
  display: flex;
  gap: 1em;
}

.iconParent {
  width: 40px;
  height: 40px;
  background-color: rgb(209, 250, 209);

    .iconBackground {
      width: 25px;
      height: 25px;
      background-color: rgb(255, 255, 255);
    }
}

.details {
  display: flex;
  flex-direction: column;
}

.categoryTitle {
  font-size: 0.75rem;
}
