@use "./variables.scss" as vars;

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;

  h2 {
    font-size: vars.$font-size-20;
  }

  h3 {
    font-size: vars.$font-size-18;
  }
}

.widget {
  width: 100%;
  background-color: #fff;
  border-radius: vars.$border-radius;
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.invalidField {
  color: red;
  background-color: rgb(255, 208, 216);
}

.radio-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.radio-buttons input {
  width: fit-content;
}

.radio-buttons label {
  display: flex;
  cursor: pointer;
  gap: 0.25em;
}

input[type=radio] {
  accent-color: vars.$dark-color;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
}
