.page {
  width: 100%;
  height: 100%;
}

.home {
  height: 100%;
  width: 100%;
  padding-left: 75px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--MAIN-PADDING) 5em;
  width: 100%;
}

.mainSection {
  display: flex;
  flex-grow: 1;
  gap: 1em;
}

main {
  width: 100%;
  min-width: 700px;
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  gap: 1em;
}


.home ul {
  width: 100%;
  display: flex;
  gap: 1em;
  justify-content: space-between;
}

.home li {
  list-style: none;
  flex-grow: 1;
}

.transactions {
  display: flex;
}

.rightSidebar {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  gap: 1em;
  /* padding: 1em; */
  /* background-color: white; */
  
}