

.money-card {
  padding: 1em 0;
  display: flex;
}

.title {
  flex-grow: 1;
  color: grey;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.amount {
  font-size: 1.25rem;
}

.current-amount {
  display: flex;
  flex-direction: column;
  align-items: right;
  text-align: right;
}

.value {
  display: flex;
}

.edit-icon {
  display: none;
  cursor: pointer;
  color: grey;
  padding-inline: 0.25em;
}

.current-amount:hover .edit-icon {
  display: block;
}

.edit-field {
border-bottom: 1px solid lightgray;
}