

.moneyCard {
  height: 130px;
  min-width: 200px;
  border-radius: 1em;
  background-color: white;
  padding: var(--MAIN-PADDING);
  display: flex;
  flex-direction: column;
}

.description {
  display: flex;
  flex-grow: 1;
}

.text {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  color: grey;
}

.design {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(209, 250, 209);
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount {
  font-size: 1.25rem;
}

.currentAmount {
  align-items: baseline;
  display: flex;
  gap: 0.5em;
}

.editIcon {
  display: none;
  cursor: pointer;
  color: grey;
  padding-inline: 0.25em;
}

.currentAmount:hover .editIcon {
  display: block;
}

.editField {
border-bottom: 1px solid lightgray;
}