.sidebar {
  background-color: white;
  width: 75px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  top:0;
  left: 0;
  transition: width 0.3s ease;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

 .sidebar--open {
  width: 200px; /* Set the width of the sidenav to show it */  
} 

.header {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  height: fit-content;
}

.logoAndButton {
  width: 100%;
  position: relative;
}

.openButton {
  font-size: 1.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  border: 3px solid white;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--LIGHT-COLOR);
  display: flex;
  align-items: center;
  justify-content: center;
}

.smallIcon {
  width: 0.5rem;
}

.content, .logoAndButton {
  padding: 0.5em 1em;
}

.content {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1em;
  overflow: hidden;
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.pageRef {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
