.modalBackground {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1em;
  border: 1px solid #888;
  width: auto;
  border-radius: 0.5em;
}

.modalContent .header {
  display: flex;
}

.body form {
  padding: 1em;
  gap: 1em;
}

.modalField {
  width: 100%;
  display: flex;
  gap: 0.5em;
  margin: 0.25em 0;
  padding: 0.5em 1em;
  align-items: center;
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 0.5em;
}

.modalField:focus {
  outline: black;
}

.modalField:has(textarea) {
  align-items: flex-start;
}

.modalField:has(textarea) .icon {
  padding: 5px 0px;
}

.type {
  width: 100%;
  display: flex;
  gap: var(--MAIN-PADDING);
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.type span {
  /* flex-grow: 1; */
  padding: 0.5em var(--MAIN-PADDING);
  border: 1px solid var(--MEDIUM-COLOR);
  cursor: pointer;
}

.selected {
  background-color: var(--MEDIUM-COLOR);
  color: white;
}

.selected:hover {
  background-color: var(--MEDIUM-COLOR);
  color: white;
}

.type span:not(.selected):hover {
  background-color: var(--LIGHT-COLOR-SECONDARY);
}

.type span:hover {
  background-color: none;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
