.body form {
  padding: 1em;
  gap: 1em;
}

.modal-field {
  width: 100%;
  display: flex;
  gap: 0.5em;
  margin: 0.25em 0;
  padding: 0.5em 1em;
  align-items: center;
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 0.5em;
}

.modal-field:focus {
  outline: black;
}

.modal-field:has(textarea) {
  align-items: flex-start;
}

.modal-field:has(textarea) .icon {
  padding: 5px 0px;
}

.type {
  width: 100%;
  display: flex;
  gap: var(--MAIN-PADDING);
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.type span {
  padding: 0.5em var(--MAIN-PADDING);
  border: 1px solid var(--MEDIUM-COLOR);
  cursor: pointer;
}

.selected {
  background-color: var(--MEDIUM-COLOR);
  color: white;
}

.selected:hover {
  background-color: var(--MEDIUM-COLOR);
  color: white;
}

.type span:not(.selected):hover {
  background-color: var(--LIGHT-COLOR-SECONDARY);
}

.type span:hover {
  background-color: none;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
