.modalBackground {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1em;
  border: 1px solid #888;
  border-top: 5px solid var(--DARK-COLOR);
  width: 40%;
}

.modalContent .header {
  display: flex;
}

.body form {
  padding: 1em;
  gap: 1em;
}

.modalField {
  width: 100%;
  display: flex;
  gap: 0.5em;
  min-height: 38px;
}

.modalField input, textarea {
  width: 100%;
  font-size: 1rem;
  padding: 10px 8px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  resize: none;
}

.modalField:has(textarea) {
  align-items: flex-start;
}

.modalField:has(textarea) .icon {
  padding: 10px 0px;
}

.type {
  width: 100%;
  display: flex;
  gap: var(--MAIN-PADDING);
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.type span {
  /* flex-grow: 1; */
  padding: 0.5em var(--MAIN-PADDING);
  border: 1px solid var(--MEDIUM-COLOR);
  cursor: pointer;
}

.selected {
  background-color: var(--MEDIUM-COLOR);
  color: white;
}

.type span:hover {
  background-color: var(--LIGHT-COLOR-SECONDARY);
}

.type span:hover {
  background-color: none;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}