@import "../utils/Table.module.scss";
@import "../common.module.scss";

.transactions {
  height: 100%;
}

.transactions-table thead th:nth-child(1) {
  width: 25%;
}

.transactions-table thead th:nth-child(2) {
  width: 15%;
}

.transactions-table thead th:nth-child(3) {
  width: 20%;
}

.transactions-table thead th:nth-child(4) {
  width: 20%;
}

.transactions-table thead th:nth-child(5) {
  width: 20%;
}
