@use "../variables.scss" as vars;

.color-options {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}

.background  {
  width: 32px;
  height: 32px;
  
  &:hover {
    cursor: pointer;
    border: solid 2px vars.$border-color;
  }
  
  &.selected-color {
    border: solid 2px vars.$dark-color;
  }

}

.color, .add-color {
  width: 24px;
  height: 24px;
}

.background-add {
  width: 32px;
  height: 32px;

  &:hover { 
    cursor: pointer;
    border: solid 2px vars.$border-color;
  }
}

.add-color {
  border: solid 2px vars.$dark-color;
}