@use "../variables.scss" as vars;

.external-provider {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.external-provider-button {
  width: 100%;
  border-width: thin;
  border-style: solid;
  padding: 0.5em vars.$main-padding;
  font-size: vars.$font-size-16;
  border-radius: vars.$border-radius;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.provider-icon {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
}
