:root {
  --LIGHT-COLOR: #F0F4F9;
  --MEDIUM-COLOR: #76B39D;
  --DARK-COLOR: #155E63;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-color: var(--LIGHT-COLOR);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 100%;
  /* font-size: 16px; */
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.customForm {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1em;
  text-align: left;
  font-size: 1rem;
  align-items: center;
  gap: 0.25em;

}

button {
  width: fit-content;
  padding: 0.5em 1.5em;
  margin: 0 0.5em;
  border-radius: 1em;
  font-size: 1rem;
  background-color: var(--DARK-COLOR);
  border: none;
  color: white;
}

button:disabled {
  opacity: 0.5;
}

a,
a:visited {
  color: var(--DARK-COLOR);
  text-decoration: none;
}

input,
textarea {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  outline: none;
  background-color: inherit;
}

hr {
  border: none;
  height: 1px;
  background-color: #ccc;
  width: 100%;
}

.formIcon {
  color: var(--DARK-COLOR);
  width: 25px;
  height: auto;
 }
 
.logo {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}