@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --LIGHT-COLOR: #F0F4F9;
  --LIGHT-COLOR-SECONDARY: #d5e1ee;
  --MEDIUM-COLOR: #76B39D;
  --DARK-COLOR: #155E63;
  --MAIN-PADDING: 1em;
  --SEPARATOR-COLOR: #ccc;
  --BORDER-COLOR: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root, .App {
  min-height: 100vh;
}

html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  background-color: var(--LIGHT-COLOR);
  align-items: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 1rem;
  align-items: center;
  gap: 0.25em;
}

button {
  width: fit-content;
  padding: 0.5em 1.5em;
  margin: 0 0.5em;
  border-radius: 1em;
  font-size: 1rem;
  background-color: var(--DARK-COLOR);
  border: none;
  color: white;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
}

.button--secondary {
  background-color: white;
  color: black;
  border: 1px solid var(--DARK-COLOR); 
}

a,
a:visited {
  color: var(--DARK-COLOR);
  text-decoration: none;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--SEPARATOR-COLOR);
  width: 100%;
}

.icon {
  color: var(--DARK-COLOR);
  width: 1rem;
  height: auto;
 }

 .iconWithAction {
  padding-left: 0.5em;
  cursor: pointer;
}

 .icon--large {
  width: 1.5rem;
 }

.icon--small {
  width: 0.5rem;
}
 
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  position: relative;
  width: fit-content;
}
.logo span {
  font-weight: 600;
}

.logoSvgBackground, .logoSvg {
  background-color: var(--DARK-COLOR);
  border-radius: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoSvg {
  width: 1.5em;
  height: 1.5em;
}

.logoSvgBackground {
  background-color: var(--MEDIUM-COLOR);
  width: 1.75em;
  height: 1.75em;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: rotate(20deg) translate(-9%, -4.5%);
}

.logoIcon {
  color: white;
}


input,
textarea, select {
  border: none;
  width: 100%;
  padding: 0.25em;
  font-size: 1rem;
  outline: none;
  background-color: inherit;
  justify-content: baseline;
}

select:focus {
  outline: none;
}

option[value=""][disabled] {
  display: none;
}

select option {
  padding: 10px;
}

.invalidField {
  color: red;
  background-color: rgb(255, 208, 216);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}